*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #111313;
    color: #fff;
    width: 100%;
}
.button-default{
    display: inline-block;
    border: 2px solid #ccc;
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    transition: .5s;
    cursor: pointer;
    background: #0084b8;
    text-transform: uppercase;
    font-weight: bold;
}
.button-default:hover{
    border: 2px solid #fff;
    color: #0084b8;
    background: #000;
}

a{
    text-decoration: none;
    color: #0084b8;
    transition: .5s;
}
a:hover{
    color: aqua;
}

.main-header{
    height: 430px;
    background-image: url("https://images.wallpaperscraft.com/image/single/moon_space_black_185222_3840x2160.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.main-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px #0084b8;
}
.main-header img{
    width: 150px;
    border-radius: 50%;
    translate: 0 65px;
}
.main-header h1{
    font-size: 20px;
    line-height: 1.5em;
    color: #fff;
    translate: 0 70px;
    text-align: center;
}
.main-header h1 strong{
    color: #0084b8;
}
.main-header h1 a{
    text-decoration: dotted;
    color: rgba(255, 255, 255, .6);
}

.main-content{
    margin: 5%;
}
.main-content-section{
    text-align: center;
    margin-bottom: 28px;
    border-top: solid 5px #0084b8;
}
.home{
    border-top: none;
    padding: 2%;
}
.main-content-section h1{
    font-size: 36px;
    padding: 28px 0;
}
.main-content-section p{
    line-height: 1.5em;
    font-size: 14px;
}
.recent-works{
    align-items: center;
    border-top: solid 5px #0084b8;
    margin-bottom: 3%;
}

.cards{
    width: 100%;
    margin-bottom: 5%;
}
.cards article{
    padding: 1em;
}
.cards img{
    width: 100%;
    border-radius: 10px;
    transition: .5s;
}
.cards img:hover{
    opacity: .3;
}
.recent-works h3, .main-content-section h3{
    font-size: 28px;
    padding: 1em 0;
    text-align: center;
}
.recent-works-card-title{
    font-size: 22px;
    padding: .5em 0;
}
.recent-works-card p a{
    text-decoration: none;
    color: #0084b8;
}

.see-more{
    margin: 20px;
}

.action-user{
    align-items: center;
}
.action-user label{
    display: none;
}
.action-user form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.action-user .id-user{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.action-user form input[class="name_page"]{
    display: none;
}
.action-user form input[type="text"]:hover, .action-user form input[type="email"]:hover, textarea:hover{
    border: 1px solid #0084b8;
}
input, textarea{
    border: 1px solid #fff;
    transition: .5s;
    background: #111313;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px;
    resize: vertical;
    max-height: 250px;
}
input:focus, textarea:focus{
    box-shadow: 0;
    outline: 0;
    border: 1px solid #0084b8;
}
.action-user input[name="message"]{
    padding: 70px 10px;
}
.action-user address{
    padding: 3% 0;
    text-decoration: underline;
    font-size: 10px;
}
footer{
	color: white;
	font-size: 18px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	background: #000;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    justify-content: center;
}

.social-networks a{
    margin: 5%;
}
.social-networks .links a img{
    width: 50px;
}

@media (min-width : 1124px){
    main{
        width: 80%;
    }
    
    .main-header{
        position: fixed;
        height: 100vh;
        width: 30%;
        background-position: bottom center;
    }
    .main-header img{
        width: 200px;
        translate: 0 80px;
    }
    .main-header h1{
        font-size: 18px;
        text-align: right;
        translate: 0 180%;
    }

    .main-content{
        width: 70%;
        margin: 0 0 0 30%;
        padding: 2%;
        box-sizing: border-box;
    }
    .main-content-section{
        text-align: center;
    }
    .main-content-section h2{
        font-size: 26px;
    }
    .main-content-section p{
        font-size: 20px;
    }

    .cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .cards article{
        padding: .5em;
    }
    .cards img{
        width: 100%;
        border-radius: 10px;
        transition: .5s;
    }
    .cards img:hover{
        opacity: .3;
    }
    .recent-works-card-title{
        font-size: 22px;
        padding: .5em 0;
    }
    .action-user .id-user{
        flex-direction: row;

    }
    .action-user .id-user input{
        width: 100%;
    }
}