*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #111313;
    color: #fff;
    width: 100%;
}
.button-default{
    display: inline-block;
    border: 2px solid #ccc;
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    transition: .5s;
    cursor: pointer;
    background: #0084b8;
    text-transform: uppercase;
    font-weight: bold;
}
.button-default:hover{
    border: 2px solid #fff;
    color: #0084b8;
    background: #000;
}

a{
    text-decoration: none;
    color: #0084b8;
    transition: .5s;
}
a:hover{
    color: aqua;
}

.main-header{
    height: 430px;
    background-image: url("https://images.wallpaperscraft.com/image/single/moon_space_black_185222_3840x2160.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.main-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px #0084b8;
}
.main-header img{
    width: 150px;
    border-radius: 50%;
    translate: 0 65px;
}
.main-header h1{
    font-size: 20px;
    line-height: 1.5em;
    color: #fff;
    translate: 0 70px;
    text-align: center;
}
.main-header h1 strong{
    color: #0084b8;
}
.main-header h1 a{
    text-decoration: dotted;
    color: rgba(255, 255, 255, .6);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 430px);
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content-section .home h1{
    padding-bottom: 0;
    border-bottom: 3px solid #0084b8;
    margin-bottom: 30px;
}
.main-content-section .home a{
    margin-top: 20px;
}

@media (min-width : 1124px){
    .main-header{
        position: fixed;
        height: 100vh;
        width: 30%;
        background-position: bottom center;
    }
    main{
        margin-left: 30%;
        height: 100vh;
        width: 70%;
    }
    .main-content-section{
        margin-bottom: 0;
    }
}